.e-toolbar-left {
  left: 250px !important;
}

.e-cell {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.e-grid .e-headercell {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
/* 
td.e-rowcell.e-templatecell {
  width: fit-content !important;
  padding: 0 !important;
  background-color: #000000 !important;
} */

.e-headercelldiv {
  text-align: center !important;
}
